WPBACKUP_MYSQL_PORT=${MYSQL_PORT}
WPBACKUP_MYSQL_HOST=${MYSQL_HOST}
WPBACKUP_MYSQL_USERNAME=${MYSQL_USER}
WPBACKUP_MYSQL_DATABASE=${MYSQL_DATABASE}
WPBACKUP_MYSQL_PASSWORD=$(<${HOST_MYSQL_PWD_FILE})
WPBACKUP_WEBSITE_NAME=${WEBSITE_NAME}
NOW=\$(date +\"%Y-%m-%d-%H%M%S\")
0 ${WPBACKUP_TIME} * * *    backup.sh > /var/backups/logs/backup-\$NOW.log